@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%);
    --black:#000;
    --line-height-default:150%;
  }


/* ===minified CSS Reset === */
*{margin:0;padding:0;box-sizing:border-box}body,html{height:100%;font-family:Figtree,system-ui,sans-serif;line-height:1.5;-webkit-font-smoothing:antialiased}body{background-color:var(--Yellow)}canvas,img,picture,svg,video{display:block;max-width:100%}button,input,select,textarea{font:inherit}a{text-decoration:none;color:inherit}ol,ul{list-style:none}
body{
  display: grid;
  line-height: var(--line-height-default);
}
main{
  display: grid;
  place-items: center;
}

.card-wrapper{
  background-color: var(--White);
  border: 1px solid var(--Gray-950);
  border-radius: 1.25em;
  box-shadow: 0.5em 0.5em var(--black);
  width: 24em;
  padding: 1.50em;
  transition:box-shadow 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.card-wrapper:hover{
  box-shadow: 1em 1em var(--black);
  .card-title{
    color: var(--Yellow);
  }
}
.card-wrapper img{
  border-radius: 0.6250em;
}

.card-wrapper .card-content{
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.card-wrapper button{
  width: 30%;
  font-size: 0.875em;
  font-weight: 800;
  border-radius: 0.25em;
  padding: 4px 12px;
  border: 0;
  background-color: var(--Yellow);
  
}

.card-wrapper .card-date{
  font-size: 0.8750em;
  font-weight: 500;
}
.card-wrapper .card-title{
font-size: 1.5000em;
font-weight: 800;
color: var(--Gray-950);
line-height: var(--line-height-default);
}
.card-wrapper .card-description{
  font-size: 1em;
  color: var(--Gray-500);
  font-weight: 500;
}
.card-wrapper .card-footer{
  display: flex;
  align-items: center;
  gap: 0.75em;
  font-size: 0.8750em;
}
.card-wrapper .card-footer img{
  width: 2em;
}
.card-wrapper .card-footer .card-author{
  font-size: 14px;
  font-weight: 800;
  color: var(--Gray-950);
}
